In [1]:
import pandas as pd

In [3]:
laptops_df = pd.read_csv('data/laptops.csv')

In [4]:
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [5]:
laptops_df.head(3)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN

In [6]:
laptops_df.tail(6)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
161,Asus,X541UA-GO1345D,4,hdd,1024,15.6,27730,intel,i3 6th gen,2.0,intel,NaN,linux,1.84,NaN
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [7]:
laptops_df.shape

(167, 15)

In [8]:
laptops_df.columns

Index(['brand', 'model', 'ram', 'hd_type', 'hd_size', 'screen_size', 'price',
       'processor_brand', 'processor_model', 'clock_speed',
       'graphic_card_brand', 'graphic_card_size', 'os', 'weight', 'comments'],
      dtype='object')

In [9]:
laptops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 15 columns):
brand                 167 non-null object
model                 167 non-null object
ram                   167 non-null int64
hd_type               167 non-null object
hd_size               167 non-null int64
screen_size           167 non-null float64
price                 167 non-null int64
processor_brand       167 non-null object
processor_model       167 non-null object
clock_speed           166 non-null float64
graphic_card_brand    163 non-null object
graphic_card_size     81 non-null float64
os                    167 non-null object
weight                160 non-null float64
comments              55 non-null object
dtypes: float64(4), int64(3), object(8)
memory usage: 19.7+ KB

In [10]:
laptops_df.describe()

,ram,hd_size,screen_size,price,clock_speed,graphic_card_size,weight
count,167.000000,167.00000,167.000000,167.000000,166.000000,81.000000,160.000000
mean,6.898204,768.91018,14.775210,64132.898204,2.321084,52.160494,2.250812
std,3.787479,392.99080,1.376526,42797.674010,0.554187,444.134142,0.648446
min,2.000000,32.00000,10.100000,13872.000000,1.100000,1.000000,0.780000
25%,4.000000,500.00000,14.000000,35457.500000,1.900000,2.000000,1.900000
50%,8.000000,1024.00000,15.600000,47990.000000,2.300000,2.000000,2.200000
75%,8.000000,1024.00000,15.600000,77494.500000,2.600000,4.000000,2.600000
max,16.000000,2048.00000,17.600000,226000.000000,3.800000,4000.000000,4.200000

In [11]:
laptops_df.sort_values(by='price')

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN

In [12]:
laptops_df.sort_values(by='price', ascending=False)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN

In [13]:
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [14]:
laptops_df.sort_values(by='price', ascending=False, inplace=True)

In [15]:
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN

In [17]:
laptops_df = pd.read_csv('data/laptops.csv')

In [18]:
laptops_df['brand']

0       Dell
1      Apple
2      Apple
3      Apple
4      Apple
       ...
162     Asus
163     Asus
164     Asus
165     Asus
166     Asus
Name: brand, Length: 167, dtype: object

In [19]:
laptops_df['brand'].unique()

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

In [20]:
laptops_df['brand'].value_counts()

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [21]:
laptops_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

# 여행지 선정하기

In [23]:
df = pd.read_csv('data/world_cities.csv')

In [24]:
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [25]:
df['City / Urban area'].value_counts()

Rio de Janeiro    1
Providence        1
Madrid            1
Vereeniging       1
Belo Horizonte    1
                 ..
Kolkata           1
New Orleans       1
Omaha             1
Sydney            1
Sapporo           1
Name: City / Urban area, Length: 249, dtype: int64

In [26]:
df['Country'].value_counts()

USA        105
France      15
Brazil      10
Canada       9
Germany      8
          ...
Iran         1
Denmark      1
Saudi        1
Hungary      1
Chile        1
Name: Country, Length: 61, dtype: int64

In [28]:
df['City / Urban area'].value_counts().shape

(249,)

In [29]:
df['Country'].value_counts().shape

(61,)

In [37]:
df['인구밀도'] = df['Population'] / df['Land area (in sqKm)']
df.sort_values(by='인구밀도', ascending=False, inplace=True)
df.head(50)

,Unnamed: 0,City / Urban area,Country,Population,Land area (in sqKm),인구밀도
75,75,Mumbai,India,14350000,484,29648.760331
74,74,Kolkata,India,12700000,531,23917.137476
101,101,Karachi,Pakistan,9800000,518,18918.918919
99,99,Lagos,Nigeria,13400000,738,18157.181572
34,34,Shenzhen,China,8000000,466,17167.381974
123,123,Seoul/Incheon,South Korea,17500000,1049,16682.554814
129,129,Taipei,Taiwan,5700000,376,15159.574468
76,76,Chennai,India,5950000,414,14371.980676
38,38,Bogota,Colombia,7000000,518,13513.513514
33,33,Shanghai,China,10000000,746,13404.825737
102,102,Lima,Peru,7000000,596,11744.966443
32,32,Beijing,China,8614000,748,11516.042781
71,71,Delhi,India,14300000,1295,11042.471042
39,39,Kinshasa,Congo,5000000,469,10660.980810
78,78,Tehran,Iran,7250000,686,10568.513120
103,103,Manila,Philippines,14750000,1399,10543.245175
36,36,Tianjin,China,4750000,453,10485.651214
77,77,Jakarta,Indonesia,14250000,1360,10477.941176
73,73,Bangalore,India,5400000,534,10112.359551
247,248,Ho Chi Minh City,Vietnam,4900000,518,9459.459459
43,43,Cairo,Egypt,12200000,1295,9420.849421
35,35,Shenyang,China,4200000,453,9271.523179
79,79,Baghdad,Iraq,5500000,596,9228.187919
72,72,Hyderabad,India,5300000,583,9090.909091
11,11,Sao Paulo,Brazil,17700000,1968,8993.902439
111,111,St Petersburg,Russia,5300000,622,8520.900322
94,94,Mexico City,Mexico,17400000,2072,8397.683398
31,31,Santiago,Chile,5425000,648,8371.913580
116,116,Singapore,Singapore,4000000,479,8350.730689
100,100,Lahore,Pakistan,5100000,622,8199.356913
20,20,Recife,Brazil,3025000,376,8045.212766
131,131,Istanbul,Turkey,9000000,1166,7718.696398
37,37,Dalian,China,2750000,389,7069.408740
126,126,Khartoum,Sudan,4000000,583,6861.063465
12,12,Rio de Janeiro,Brazil,10800000,1580,6835.443038
96,96,Monterey,Mexico,3200000,479,6680.584551
130,130,Bangkok,Thailand,6500000,1010,6435.643564
88,88,Osaka/Kobe/Kyoto,Japan,16425000,2564,6406.006240
95,95,Guadalajara,Mexico,3500000,596,5872.483221
69,69,Athens,Greece,3685000,684,5387.426901
132,132,Ankara,Turkey,3100000,583,5317.324185
124,124,Madrid,Spain,4900000,945,5185.185185
135,135,London,UK,8278000,1623,5100.431300
81,81,Tel Aviv,Israel,2300000,453,5077.262693
90,90,Sapporo,Japan,2075000,414,5012.077295
0,0,Buenos Aires,Argentina,11200000,2266,4942.630185
110,110,Moscow,Russia,10500000,2150,4883.720930
125,125,Barcelona,Spain,3900000,803,4856.787049
17,17,Porto Alegre,Brazil,2800000,583,4802.744425
86,86,Tokyo/Yokohama,Japan,33200000,6993,4747.604748

In [38]:
df['Density'] = df['Population'] / df['Land area (in sqKm)']
df_high_density = df[df['Density'] > 10000]
df_high_density.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 75 to 73
Data columns (total 7 columns):
Unnamed: 0             19 non-null int64
City / Urban area      19 non-null object
Country                19 non-null object
Population             19 non-null int64
Land area (in sqKm)    19 non-null int64
인구밀도                   19 non-null float64
Density                19 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.2+ KB

In [41]:
density_ranks = df.sort_values(by='Density', ascending = False)
density_ranks['City / Urban area']

75              Mumbai
74             Kolkata
101            Karachi
99               Lagos
34            Shenzhen
            ...
194        Chattanooga
223          Asheville
57                 Pau
220            Hickory
196    Barnstable Town
Name: City / Urban area, Length: 249, dtype: object

In [45]:
df['Country'].value_counts().tail(50)

Italy           4
Russia          3
Mexico          3
Taiwan          2
Puerto Rico     2
Pakistan        2
Turkey          2
Spain           2
Congo           2
Portugal        2
Saudi Arabia    2
UAE             2
Poland          2
Belgium         2
Argentina       1
Greece          1
Finland         1
Egypt           1
Iraq            1
Zimbabwe        1
Ecuador         1
Cambodia        1
Indonesia       1
Philippines     1
Sudan           1
Iran            1
Thailand        1
Hungary         1
Israel          1
Azerbaijan      1
Netherlands     1
New Zealand     1
Malaysia        1
Ghana           1
Nigeria         1
Vietnam         1
Lebanon         1
Kuwait          1
Peru            1
Singapore       1
Colombia        1
Ukraine         1
Saudi           1
Sweden          1
Austria         1
Ireland         1
Uzbekistan      1
Denmark         1
Chile           1
South Korea     1
Name: Country, dtype: int64

In [46]:
countries = df['Country'].value_counts()

In [47]:
countries

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Ireland          1
Uzbekistan       1
Denmark          1
Chile            1
South Korea      1
Name: Country, Length: 61, dtype: int64

In [49]:
countries[countries == 4]

Italy    4
Name: Country, dtype: int64